<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/styles/main.css" />
    <title>My Store</title>
  </head>
  <body>
    <div id="app">
      <header>
        <nav class="navbar">
          <div class="navbar__items">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Contact us</a>
          </div>
        </nav>
      </header>

      <main class="main-content">
        <div class="main-content__left">
          <div class="logo-container">
            <h2>My Store</h2>
            <h2>App</h2>
            <em>The best Store for you</em>
          </div>
          <img
            src="../assets/images/rb_30349.png"
            alt="Shoe"
            class="image-shoe"
          />
        </div>

        <div class="main-content__right">
          <div class="card">
            <h3 class="card-title">Contact us by whatsapp</h3>
          </div>
          <form id="form">
            <div class="action">
              <img
                src="../assets/images/whatsapp-svgrepo-com.svg"
                alt="whatsapp icon"
                class="icon__whatsapp"
              />
              <input id="number" class="field" placeholder="(xx) xxxx-xxxx" />
            </div>
            <input type="button" value="Send" class="btn-send" />
          </form>
        </div>
      </main>

      <footer>
        <div class="footer-content">
          <h3>All rights reserved - 2025</h3>
          <a href="https://github.com/Bruno-H-Terto">
            <img
              src="../assets/images/github-color-svgrepo-com.svg"
              alt="Github"
            />
          </a>
          <a href="https://www.linkedin.com/in/bruno-herculano-83a74a1bb/">
            <img src="../assets/images/linkedin-svgrepo-com.svg" alt="Linkedin" />
          </a>
        </div>
      </footer>
    </div>
    <script src="../controllers/index.js"></script>
  </body>
</html>
